body {
  margin: 0;
  text-align: center;
  margin-left: 21em;
  background-color: #f2f5821a;
}

.header-image {
  display: none;
}

.header-image-desktop {
  height: 100%;
  left: 1px;
  top: 0px;
  visibility: visible;
  min-height: 100%;
  position: fixed;
}

h1 {
  font-size: 4vw;
  font-family: "Dancing Script", cursive;
}

.input {
  border: none;
  border-bottom: solid 1px;
  font-family: "Open Sans", sans-serif;
  padding-top: 3em;
  width: 22vw;
  outline: none;
  background: transparent !important;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
} 

.btn {
  margin: 0em;
  margin-top: 2em;
  background: #ff9a02ad;
  border-radius: 17px;
  border: 2px #f7e22d;
  font-family: "Open Sans", sans-serif;
  width: 13vw;
  font-size: 3vh;
  height: 6vh;
  outline: none;
}

.btn:hover {
  filter: opacity(0.5);
}

.logo {
  width: 3em;
  margin: 0 1em;
}

.container-second-page {
  background-color: #f4f683;
  margin-top: -4px;
  padding: 7px;
  height: 2em;
}

footer {
  font-size: 3vh;
  margin-top: 5vh;
  font-family: "Dancing Script", cursive;
}

p {
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

.icono {
  width: 1.3em;
}

.errorMensaje:hover {
  color: salmon;
}

h4 {
  font-family: "Open Sans", sans-serif;
  color: #191818db;
}

.icoArt {
  padding-inline-end: 1em;
}

.icoCalen {
  padding-inline-end: 1em;
}

.icoUsu {
  padding-inline-end: 2em;
}

.icoUsu:hover, .icoCalen, .icoArt {
  filter: opacity(0.5);
}
.icons-General {
  float: right;
}

.logo-second-page {
  display: inline-block;
  margin: 0;
  font-size: 2em;
  margin-left: 104px;
  margin-top: -4px;
}

#input_search {
  background: rgba(255, 154, 2, 0.81);
  border-radius: 10px;
  border: none;
  height: 28px;
  width: 11em;
  margin-left: 2em;
  padding-block-start: 7px;
}

input#input_email.imput {
  background: transparent;
}

.container_left {
  float: left;
}


.formulario-post{
  
    margin-top: 2em;
    margin-right: 10em;
    margin-left: 12em;
    border-radius: 10px;
    border: solid 1px #f2f3b2;
    background-color: white;

}
.textarea {
  font-family: "Open Sans", sans-serif;
  padding-top: 1em;
  outline: none;
  background: #fdfdf2 !important;
  border-radius: 2em;
  font-size: 15px;
  text-align: center;
  border-color: #00000029;
  width: 30em;
  height: 31px;
  margin-top: 1em;
  margin-left: 2em;
}

.hr{
  width: 35em;
    margin-top: 13px;
    background-color: #747373;
}

.post-actual{
  margin-top: 2em;
  margin-right: 10em;
  margin-left: 12em;
  padding-block-end: 13px;
  border-radius: 10px;
  padding-block-start: 13px;
  border: solid 1px #edefb0;
  background-color: white;
}

.botones-post{
  margin: 0em;
    margin-top: 1em;
    background: #ff9a02ad;
    border-radius: 17px;
    border: 2px #f7e22d;
    font-family: "Open Sans", sans-serif;
    width: 9vw;
    font-size: 15px;
    height: 5vh;
    outline: none;
    margin-block-end: 1em;
}
.icoperfil{
  width: 3em;
  border: solid 1px #0808087d;
  border-radius: 2em;
}
.icoperfil2{
  width: 3em;
  border: solid 1px #0808087d;
  border-radius: 2em;
  margin-right: 32em;
  margin-top: 1em;
}


.icoLoadimg{
  width: 3em;
}

.icoReac{
  width: 21px;
  margin-right: 9px;
}

.icoReacall{
  margin-right: 3px;
}

.post2{
  font-family: "Open Sans", sans-serif;
  cursor: default;
  margin-top: -34px;
  text-align: initial;
  margin-left: 8em;
  margin-right: 2em;

}

#contenedor-perfil{
  
  margin-right: 15em;
  margin-left: 17em;
  margin-top: 7em;
  border: solid 1px #edefb0;
  background-color: white;
}

.imgProfile{
 
  width: 10em;
  height: 9em;
  border-radius: 50%;
  border: none;
  background-color: #edefb0;
  outline: none;
}

.imgProfile:focus{ outline:none;
}


.imgProfileimg{
  margin-top: -6em;
}

.nameProfile{
  font-size: 20px;
}

.emailProfile{
  font-size: 20px;
}

@media (max-width: 300px) and (max-width: 801px) {
  body {
    margin-left: 0;
  }

  .header-image {
    width: 100%;
    margin-top: -18px;
    display: inline-block;
  }

  h1 {
    font-size: 10vw;
    background: #f4f683;
    margin-top: -4px;
    font-family: "Dancing Script", cursive;
  }

  .btn {
    width: 37vw;
    font-size: 3vh;
    height: 6vh;
    margin: 0em;
    margin-top: 2em;
    background: #ff9a02ad;
    border-radius: 17px;
    border: 2px #f7e22d;
    font-family: "Open Sans", sans-serif;
  }

  .btn:hover {
    filter: opacity(0.5);
  }

  .icono {
    width: 1.3em;
  }

  .input {
    width: 57vw;
    border: none;
    padding-top: 2.5em;
    border-bottom: solid 1px;
    font-family: "Open Sans", sans-serif;
  }

  .input_password {
    margin-top: 3em;
  }

  .logo {
    width: 3em;
    margin: 0 1em;
  }

  p {
    font-family: "Open Sans", sans-serif;
  }

  footer {
    margin-top: 3em;
    font-family: "Dancing Script"cursive;
  }

  .container-second-page {
    background-color: #f4f683;
    margin-top: -4px;
    padding: 7px;
    height: 2em;
  }

  .icons-General {
    float: right;
  }

  .logo-second-page {
    display: inline-block;
    margin: 0;
    font-size: 22px;
  }

  #input_search {
    background: rgba(255, 154, 2, 0.81);
    border-radius: 10px;
    border: none;
    height: 24px;
    width: 101px;
    margin-left: 7px;
  }

  .container_left {
    float: left;
  }

  .errorMensaje:hover {
    color: salmon;
    /* border-bottom: solid 1px; */
  }

  .header-image-desktop {
    visibility: hidden;
  }
}