/* Estilos generales para versión desktop*/
body {
  margin: 0;
  text-align: center;
  background-color: #f2f5821a;
}

.input_section {
  display: flex;
  flex-direction: column;
  margin-left: 20em;
}

.input_section2 {
  display: flex;
  flex-direction: column;
}

.loginSecons {
  display: flex;
  flex-direction: column;
  margin-left: 20em;
}

p {
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

.par2 {
  font-family: "Open Sans", sans-serif;
  cursor: default;
  margin-left: 21em;
}

h4 {
  font-family: "Open Sans", sans-serif;
  color: #191818db;
  margin-left: 24em;
}

/* Estilos para header*/
.header-image {
  display: none;
}

.header-image-desktop {
  filter: opacity(0.7);
  height: 100%;
  left: -41px;
  top: 0px;
  visibility: visible;
  min-height: 100%;
  position: fixed;
}

.header-image-desktop2 {
  filter: opacity(0.7);
  height: 8em;
  left: -41px;
  top: 0px;
  width: 100%;
}

.icons-General {
  float: right;
}

/*Estilos logo Art Space*/
h1 {
  font-size: 4vw;
  font-family: "Dancing Script", cursive;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  margin-left: 6em;
}
.artSecond {
  font-size: 4vw;
  font-family: "Dancing Script", cursive;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  margin-left: 6em;
}

/*Estilos para inputs*/
.input {
  border: none;
  border-bottom: solid 1px;
  font-family: "Open Sans", sans-serif;
  padding-top: 3em;
  width: 22vw;
  outline: none;
  background: transparent !important;
}

input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s;
}

.input2 {
  border: none;
  border-bottom: solid 1px;
  font-family: "Open Sans", sans-serif;
  padding-top: 3em;
  width: 22vw;
  outline: none;
  background: transparent !important;
  margin-left: 52em;
  margin-top: -4em;
}

.input2:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s;
}

#input_search {
  background: rgba(255, 154, 2, 0.81);
  border-radius: 17px;
  height: 28px;
  width: 16em;
  margin-left: 2em;
  padding-block-end: 6px;
  padding-block-start: 7px;
  padding-right: 1em;
  padding-left: 35px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
}

input#input_email.imput {
  background: transparent;
}

/*Estilos para botones*/
.btn {
  margin: 0em;
  margin-top: 2em;
  background: #ff9a02ad;
  border-radius: 17px;
  border: 2px #f7e22d;
  font-family: "Open Sans", sans-serif;
  width: 13vw;
  font-size: 3vh;
  height: 6vh;
  outline: none;
  cursor: pointer;
  margin-left: 18em;
}

.btn:hover {
  filter: opacity(0.5);
}
.btnResgitro {
  margin: 0em;
  margin-top: 2em;
  background: #ff9a02ad;
  border-radius: 17px;
  border: 2px #f7e22d;
  font-family: "Open Sans", sans-serif;
  width: 13vw;
  font-size: 3vh;
  height: 6vh;
  outline: none;
  cursor: pointer;
  margin-left: 31vw;
}

.btnRegistro:hover {
  filter: opacity(0.5);
}

.btnComenzar {
  margin: 0em;
  margin-top: 2em;
  background: #ff9a02ad;
  border-radius: 17px;
  border: 2px #f7e22d;
  font-family: "Open Sans", sans-serif;
  width: 13vw;
  font-size: 3vh;
  height: 6vh;
  outline: none;
  cursor: pointer;
}

.btnComenzar:hover {
  filter: opacity(0.5);
}
.btnR {
  margin: 0em;
  margin-top: 2em;
  background: #ff9a02ad;
  border-radius: 17px;
  border: 2px #f7e22d;
  font-family: "Open Sans", sans-serif;
  width: 13vw;
  font-size: 3vh;
  height: 6vh;
  outline: none;
  cursor: pointer;
  margin-left: 43em;
}

.btnR:hover {
  filter: opacity(0.5);
}
.logo {
  width: 3em;
  cursor: pointer;
}

.logo:hover {
  filter: opacity(0.5);
}

.logo2 {
  width: 3em;
  margin-left: 20em;
  cursor: pointer;
}

.logo2:hover {
  filter: opacity(0.5);
}

.img-events {
  width: 100%;
  height: 150px;
}

.container-second-page {
  background-color: #f4f683;
  margin-top: -4px;
  padding: 7px;
  height: 2em;
}

footer {
  font-size: 20px;
  margin-top: 10vh;
  font-family: "Dancing Script", cursive;
  display: flex;
  flex-direction: column;
  margin-left: 16em;
}
.f2 {
  font-size: 20px;
  margin-top: 10vh;
  font-family: "Dancing Script", cursive;
  display: flex;
  flex-direction: column;
  margin-left: 18em;
}

.icono {
  width: 1.3em;
}

.icono2 {
  width: 1.3em;
  margin-left: 41em;
  margin-top: 2em;
}

.errorMensaje:hover {
  color: salmon;
}

h4 {
  font-family: "Open Sans", sans-serif;
  color: #191818db;
}
.hsecond {
  font-family: "Open Sans", sans-serif;
  color: #191818db;
  margin-left: 20em;
}

.icoArt {
  padding-inline-end: 1em;
}

.icoCalen {
  padding-inline-end: 1em;
}

.icoUsu {
  padding-inline-end: 2em;
}

.icoUsu:hover,
.icoCalen:hover,
.icoArt:hover {
  filter: opacity(0.5);
}

.icons-General {
  float: right;
}

.logo-second-page {
  display: inline-block;
  margin: 0;
  font-size: 2em;
  margin-left: 44px;
  margin-top: -4px;
}

#input_search {
  background: rgba(255, 154, 2, 0.81);
  border-radius: 17px;
  height: 28px;
  width: 16em;
  margin-left: 2em;
  padding-block-end: 6px;
  padding-block-start: 7px;
  padding-right: 1em;
  padding-left: 35px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  border: none;
  outline: none;
  color: #ff0000;
  cursor: pointer;
}

#input_search:hover {
  filter: opacity(0.5);
}

input#input_email.imput {
  background: transparent;
}

.container_left {
  float: left;
}

.formulario-post {
  margin-left: 30em;
  margin-top: -20em;
  border: solid 1px #edefb0;
  background-color: white;
  height: 14em;
  border-radius: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50em;
}

.textarea {
  font-family: "Open Sans", sans-serif;
  padding-top: 1em;
  outline: none;
  background: #fdfdf2 !important;
  border-radius: 2em;
  font-size: 15px;
  text-align: center;
  border-color: #00000029;
  width: 30em;
  height: 31px;
  margin-top: 2em;
  margin-left: 3em;
  padding-right: 1em;
  padding-left: 35px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  padding-block-end: 11px;
  padding-block-start: 25px;
  cursor: pointer;
}

.textarea2 {
  font-family: "Open Sans", sans-serif;
  padding-top: 1em;
  outline: none;
  background: #fdfdf2 !important;
  border-radius: 2em;
  font-size: 15px;
  text-align: center;
  border-color: #00000029;
  width: 27em;
  height: 21px;
  margin-top: 1em;
  margin-left: 1em;
  padding-right: 0em;
  padding-left: 35px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  padding-block-end: 11px;
  padding-block-start: 25px;
  cursor: pointer;

}

.hr {
  border: 0 none #eeeaea;
  border-top: 1px solid #e4e1e1;
  height: 1px;
  display: flex;
  margin-top: -53px;
  margin-left: 32em;
  width: 46em;
}

.hr2 {
  border: 0 none #eeeaea;
  border-top: 1px solid #e4e1e1;
  height: 1px;
  margin: 5px 0;
  display: block;
  clear: both;
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 2em;
}

.post-actual {
  margin-top: 2em;
  margin-right: 4em;
  margin-left: 30em;
  border-radius: 9px;
  padding-block-start: 13px;
  border: solid 1px #edefb0;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: min-content;
  width: -webkit-fill-available;

}

.img-responsive {
  width: 5em;
  margin-left: -69em;
  margin-top: 5em;
  cursor: pointer;
}

.img-responsive:hover {
  filter: opacity(0.5);
}

.botones-post {
  margin-top: 4px;
  background: #ff9a02ad;
  border-radius: 17px;
  border: 2px #f7e22d;
  font-family: "Open Sans", sans-serif;
  width: 9vw;
  font-size: 15px;
  height: 5vh;
  outline: none;
  margin-left: 25em;
  cursor: pointer;
}

.botones-post:hover {
  filter: opacity(0.5);
}

.botones-post2 {
  margin-top: 12px;
  background: #ff9a02ad;
  border-radius: 17px;
  border: 2px #f7e22d;
  font-family: "Open Sans", sans-serif;
  width: 8vw;
  font-size: 13px;
  height: 4vh;
  outline: none;
  margin-left: 14em;
  cursor: pointer;

}

.botones-post2:hover {
  filter: opacity(0.5);
}

.btnProfile2 {
  margin-top: 4px;
  background: #ff9a02ad;
  border-radius: 17px;
  border: 2px #f7e22d;
  font-family: "Open Sans", sans-serif;
  width: 9vw;
  font-size: 15px;
  height: 5vh;
  outline: none;
  margin-left: -61em;
  cursor: pointer;

}


.btnProfile2:hover {
  filter: opacity(0.5);
}


.imagen-post {
  margin-top: -3em;
}

#ingreso-post {
  margin-top: -1em;
  margin-block-end: 2em;
}

.prueba {
  margin: 2em;
}

.icoperfil2 {
  width: 4em;
  border: solid 1px #0808087d;
  border-radius: 5em;
  margin-right: 30em;
  margin-top: 1em;
  margin-left: 2em;
}

.icoLoadimg {
  width: 3em;
}

.icoReac {
  width: 25px;
  margin-right: 9px;
}

.icoReac2 {
  width: 25px;
  margin-right: 9px;
}

.icoReacall {
  margin-right: 41em;
}

.name1 {
  font-family: "Open Sans", sans-serif;
  cursor: default;
  text-align: initial;
  margin-left: 8vw;
  margin-top: -55px;
  font-size: 18.5px;
  color: #080808;
}

.post2 {
  font-family: "Open Sans", sans-serif;
  cursor: default;
  margin-top: -52px;
  text-align: initial;
  margin-left: 8vw;
  margin-right: 2em;
  font-size: 14px;
  color: #747373;
}

.post3 {
  font-family: "Open Sans", sans-serif;
  cursor: default;
  margin-top: -2em;
  text-align: initial;
  margin-left: 3.5vw;
  margin-right: 3vw;
  font-size: medium;
}



#contenedor-perfil2 {
  margin-right: 63em;
  margin-left: 4em;
  margin-top: 11em;
  border: solid 1px #edefb0;
  background-color: white;
  height: 11em;
  border-radius: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 17em;

}

#imgProfile2 {

  width: 7em;

  border-radius: 50%;
  border: none;
  background-color: #edefb0;
  outline: none;
  border: 1px solid #747373;
}

#imgProfile2:focus {
  outline: none;
}


.imgProfileimg2 {
  margin-top: -7em;
  font-family: "Open Sans", sans-serif;
}

.nameProfile2 {
  font-size: 19px;
  font-family: "Open Sans", sans-serif;
  display: contents;
}

.emailProfile2 {
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
}

/* Estilos para sección de perfil*/
.contenedor-perfil {
  margin-right: 15em;
  margin-left: 17em;
  margin-top: 7em;
  border: solid 1px #edefb0;
  background-color: white;
  height: 15em;
  border-radius: 1em;
}

.imgProfile {
  width: 10em;

  border-radius: 50%;
  border: none;
  outline: none;
}

.imgProfile:focus {
  outline: none;
}

.imgProfileimg {
  margin-top: -7em;
  font-family: "Open Sans", sans-serif;
}

.nameProfile {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}

.emailProfile {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}

#fichero {
  margin: 0em;
  margin-top: 1em;
  background: #ff9a02ad;
  border-radius: 17px;
  border: 2px #f7e22d;
  font-family: "Open Sans", sans-serif;
  width: 32vw;
  font-size: 15px;
  height: 4vh;
  outline: none;
  margin-block-end: 5em;
  cursor: pointer;
}

.btn-file {
  margin: 0em;
  margin-top: -3em;
  background: #ff9a02ad;
  border-radius: 17px;
  border: 2px #f7e22d;
  font-family: "Open Sans", sans-serif;
  width: 9vw;
  font-size: 15px;
  height: 5vh;
  outline: none;
  margin-block-end: 0em;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}

/*Estilos para mensajes de alerta*/
.error-format {
  color: salmon;
}

.recover-password {
  color: #1f5873;
}

h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}

.lupa {
  margin-left: 9em;
  margin-top: -24px;
}

.icoLupa {
  width: 1em;
  margin-inline-start: -7em;
}

.titulos {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  text-align: initial;
  margin-left: 15px;
  margin-top: 15px;
}

.containerEvent {
  width: 25%;
  height: 20em;
  display: flex;
  border: solid 1px #f2f3b2;
  margin-top: 2em;
  border-radius: 4px;
  background-color: white;
  flex-direction: column;
}

.subtitulos {
  font-family: "Open Sans", sans-serif;
  text-align: initial;
  margin-left: 16px;
  color: #747373c2;
  margin-top: -16px;
}

.btnArt {
  background: #ff9a02ad;
  border-radius: 17px;
  border: 2px #f7e22d;
  font-family: "Open Sans", sans-serif;
  width: 20vw;
  font-size: 15px;
  height: 6vh;
  outline: none;
  display: inline-block;
  cursor: pointer;
}

.btnArt:hover {
  filter: opacity(0.5);
}

.btnArt2 {
  background: #ff9a02ad;
  border-radius: 17px;
  border: 2px #f7e22d;
  font-family: "Open Sans", sans-serif;
  width: 24vw;
  font-size: 15px;
  height: 6vh;
  outline: none;
  display: inline-block;
  cursor: pointer;
}

.btnArt3 {
  background: #ff9a02ad;
  border-radius: 17px;
  border: 2px #f7e22d;
  font-family: "Open Sans", sans-serif;
  width: 24vw;
  font-size: 15px;
  height: 6vh;
  outline: none;
  display: inline-block;
  cursor: pointer;
}

.btnArt:hover {
  filter: opacity(0.5);
}

.btnArt4 {
  background: #ff9a02ad;
  border-radius: 17px;
  border: 2px #f7e22d;
  font-family: "Open Sans", sans-serif;
  width: 24vw;
  font-size: 15px;
  height: 6vh;
  outline: none;
  display: inline-block;
  cursor: pointer;
}

.article {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

#comments {
  margin-right: 10em;
  margin-left: 12em;
  padding-block-end: 13px;
  border-radius: 10px;
  padding-block-start: 13px;
  border: solid 1px #edefb0;
  background-color: white;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-block-end: 1em;
  font-family: "Open Sans", sans-serif;
}

.imgPost {
  align-self: center;
  max-width: -webkit-fill-available;
  display: flex;
  max-height: fit-content;
}

#lista-publicaciones {
  width: 100%;
  height: 100%;
}

@media (max-width: 801px) {
  body {
    margin-left: 0;
  }

  .header-image {
    width: 100%;
    margin-top: -18px;
    display: inline-block;
  }

  h1 {
    font-size: 10vw;
    background: #f4f683;
    margin-top: -4px;
    font-family: "Dancing Script", cursive;
  }

  .btn {
    width: 37vw;
    font-size: 3vh;
    height: 6vh;
    margin: 0em;
    margin-top: 2em;
    background: #ff9a02ad;
    border-radius: 17px;
    border: 2px #f7e22d;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
  }

  .btn:hover {
    filter: opacity(0.5);
  }

  .icono {
    width: 1.3em;
    cursor: pointer;
  }

  .icoArt {
    padding-inline-end: 0.5em;
    cursor: pointer;
  }

  .icoCalen {
    padding-inline-end: 0.5em;
    cursor: pointer;
  }

  .icoUsu {
    padding-inline-end: 0;
    cursor: pointer;
  }

  .icoUsu:hover,
  .icoCalen:hover,
  .icoArt:hover {
    filter: opacity(0.5);
  }

  .input {
    width: 57vw;
    border: none;
    padding-top: 2.5em;
    border-bottom: solid 1px;
    font-family: "Open Sans", sans-serif;
  }

  .input_password {
    margin-top: 3em;
  }

  .logo {
    width: 3em;
    margin: 0 1em;
  }

  p {
    font-family: "Open Sans", sans-serif;
  }

  footer {
    margin-top: 3em;
    font-family: "Dancing Script" cursive;
  }

  .container-second-page {
    background-color: #f4f683;
    margin-top: -4px;
    padding: 7px;
    height: 2em;
  }

  .icons-General {
    float: right;
  }

  .logo-second-page {
    display: inline-block;
    margin: 0;
    font-size: 22px;
  }

  #input_search {
    background: rgba(255, 154, 2, 0.81);
    border-radius: 10px;
    border: none;
    height: 24px;
    width: 107px;
    margin-left: 7px;
    cursor: pointer;
  }

  .container_left {
    float: left;
  }

  .errorMensaje:hover {
    color: salmon;
    /* border-bottom: solid 1px; */
  }

  .header-image-desktop {
    visibility: hidden;
  }

  /*Estilos para post*/
  .img-responsive {
    width: 3em;
    margin-left: -7em;
  }

  .img-responsive:hover {
    filter: opacity(0.5);
  }

  .formulario-post {
    margin-top: 3em;
    margin-right: 1.5em;
    margin-left: 1.5em;
    padding-block-end: 13px;
    padding-block-start: 5px;
  }

  .textarea {

    width: 13em;
    margin-left: 0;
    height: 12px;
    display: inline-block;
    margin-top: 2em;
  }

  .hr {
    margin-left: 3em;
    width: 15em;
  }

  .botones-post {
    width: 18vh;
    margin-left: 1em;
    cursor: pointer;
  }

  .botones-post:hover {
    filter: opacity(0.5);
  }

  .post-actual {
    margin-top: 1em;
    margin-right: 1.5em;
    margin-left: 1.5em;
    display: flex;
    flex-direction: column;
  }

  .icoperfil2 {
    width: 3em;
    margin-left: 12px;
    margin-top: 0em;
    display: flex;
  }

  .icoperfil {
    width: 4em;
    margin-left: 154px;
    margin-top: -2em;
    display: flex;
  }


  .post2 {
    font-size: 11px;
    margin-top: -46px;
    margin-left: 66px;
    display: flex;
  }

  .post3 {
    font-family: "Open Sans", sans-serif;
    cursor: default;
    margin-top: -21px;
    text-align: initial;
    margin-left: 3.5vw;
    margin-right: 3vw;
    font-size: 15px;
  }

  .name1 {
    font-size: 14px;
    margin-top: -45px;
    margin-left: 66px;

  }

  .icoReacall {
    display: flex;
    margin-left: 15px;
  }

  .hr2 {
    border: 0 none #eeeaea;
    border-top: 1px solid #e4e1e1;
    height: 1px;
    margin: 5px 0;
    display: block;
    clear: both;
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 23px;
  }


  .nameProfile {
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    background: none;
  }

  #contenedor-perfil {
    margin-top: 7em;
    border: solid 1px #edefb0;
    background-color: white;
    height: 15em;
    border-radius: 1em;
    width: 20em;
    display: flex;
    margin-left: 56px;
    justify-content: center;

  }

  .icoLupa {
    width: 1em;
    margin-inline-start: -133px;
  }

  .subtitulos {
    font-family: "Open Sans", sans-serif;
    text-align: initial;
    margin-left: 16px;
    color: #747373c2;
    margin-top: -11px;
    font-size: 11px;
  }


  .containerEvent {
    width: 44%;
    height: 12em;
    display: flex;
    border: solid 1px #f2f3b2;
    margin-top: 2em;
    border-radius: 4px;
    background-color: white;
    flex-direction: column;
  }

  .titulos {
    background: none;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    text-align: initial;
    margin-left: 8px;
    margin-top: 2px;

  }

  .img-events {
    width: -webkit-fill-available;
    height: 73px;
  }

  .btnArt {
    background: #ff9a02ad;
    border-radius: 17px;
    border: 2px #f7e22d;
    font-family: "Open Sans", sans-serif;
    width: 24vw;
    font-size: 15px;
    height: 5vh;
    display: inline-block;
    margin-top: 14px;
    cursor: pointer;
  }

  .botArt:hover {
    filter: opacity(0.5);
  }

  .btnArt2 {
    background: #ff9a02ad;
    border-radius: 17px;
    border: 2px #f7e22d;
    font-family: "Open Sans", sans-serif;
    width: 24vw;
    font-size: 15px;
    height: 5vh;
    display: inline-block;
    margin-top: 13px;
    cursor: pointer;
  }

  .botArt2:hover {
    filter: opacity(0.5);
  }

  .btnArt3 {
    background: #ff9a02ad;
    border-radius: 17px;
    border: 2px #f7e22d;
    font-family: "Open Sans", sans-serif;
    width: 24vw;
    font-size: 15px;
    height: 5vh;
    display: inline-block;
    margin-top: -6px;
    cursor: pointer;
  }

  .botArt3:hover {
    filter: opacity(0.5);
  }

  .btnArt4 {
    background: #ff9a02ad;
    border-radius: 17px;
    border: 2px #f7e22d;
    font-family: "Open Sans", sans-serif;
    width: 24vw;
    font-size: 15px;
    height: 5vh;
    display: inline-block;
    margin-top: 12px;
    cursor: pointer;
  }

  .botArt4:hover {
    filter: opacity(0.5);
  }
}
