body {
  margin: 0;
  text-align: center;
  margin-left: 21em;
}

.header-image {
  display: none;
}

.header-image-desktop {
  height: 100%;
  left: 1px;
  top: 0px;
  visibility: visible;
  min-height: 100%;
  position: fixed;
}

h1 {
  font-size: 4vw;
  font-family: "Dancing Script", cursive;
}

.input {
  border: none;
  border-bottom: solid 1px;
  font-family: "Open Sans", sans-serif;
  padding-top: 3em;
  width: 22vw;
}

.input {
  outline: none;
}

.btn {
  margin: 0em;
  margin-top: 2em;
  background: #ff9a02ad;
  border-radius: 17px;
  border: 2px #f7e22d;
  font-family: "Open Sans", sans-serif;
  width: 13vw;
  font-size: 3vh;
  height: 6vh;
}

.btn:hover {
  filter: opacity(0.5);
}

.logo {
  width: 3em;
  margin: 0 1em;
}

.container-second-page {
  background-color: #f4f683;
  margin-top: -4px;
  padding: 7px;
  height: 2em;
}

footer {
  font-size: 3vh;
  margin-top: 5vh;
  font-family: "Dancing Script", cursive;
}

p {
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

.icono {
  width: 1.3em;
}

.errorMensaje:hover {
  color: salmon;
}

h4 {
  font-family: "Open Sans", sans-serif;
  color: tomato;
}

.icoArt {
  padding-inline-end: 1em;
}

.icoCalen {
  padding-inline-end: 1em;
}

.icoUsu {
  padding-inline-end: 2em;
}

.icons-General {
  float: right;
}

.logo-second-page {
  display: inline-block;
  margin: 0;
  font-size: 2em;
  margin-left: 104px;
  margin-top: -4px;
}

#input_search {
  background: rgba(255, 154, 2, 0.81);
  border-radius: 10px;
  border: none;
  height: 28px;
  width: 11em;
  margin-left: 2em;
  padding-block-start: 7px;
}

.container_left {
  float: left;
}

@media (max-width: 425px) {
  body {
    margin-left: 0;
  }

  .header-image {
    width: 100%;
    margin-top: -18px;
    display: inline-block;
  }

  h1 {
    font-size: 10vw;
    background: #f4f683;
    margin-top: -4px;
    font-family: "Dancing Script", cursive;
  }

  .btn {
    width: 37vw;
    font-size: 3vh;
    height: 6vh;
    margin: 0em;
    margin-top: 2em;
    background: #ff9a02ad;
    border-radius: 17px;
    border: 2px #f7e22d;
    font-family: "Open Sans", sans-serif;
  }

  .btn:hover {
    filter: opacity(0.5);
  }

  .icono {
    width: 1.3em;
  }

  .input {
    width: 57vw;
    border: none;
    padding-top: 2.5em;
    border-bottom: solid 1px;
    font-family: "Open Sans", sans-serif;
  }

  .input_password {
    margin-top: 3em;
  }

  .logo {
    width: 3em;
    margin: 0 1em;
  }

  p {
    font-family: "Open Sans", sans-serif;
  }

  footer {
    margin-top: 3em;
    font-family: "Dancing Script"cursive;
  }

  .container-second-page {
    background-color: #f4f683;
    margin-top: -4px;
    padding: 7px;
    height: 2em;
  }

  .icons-General {
    float: right;
  }

  .logo-second-page {
    display: inline-block;
    margin: 0;
    font-size: 22px;
  }

  #input_search {
    background: rgba(255, 154, 2, 0.81);
    border-radius: 10px;
    border: none;
    height: 24px;
    width: 101px;
    margin-left: 7px;
  }

  .container_left {
    float: left;
  }

  .errorMensaje:hover {
    color: salmon;
    /* border-bottom: solid 1px; */
  }

  .header-image-desktop {
    visibility: hidden;
  }
}